# build repertoire
obj/
.d/
bin/

# some extensions
*.depend
*.layout
*.log
*.bak
*~
TAGS
*#

# Rstudio stuff
.RData
.Rhistory

# Specific
Images
game_*/
standard/standard*
QuestEditor/parse_gamedata
QuestEditor/atlantis
worldedit
monsters.data
quest.zip
Editor/game*.out
Editor/game*.in*
Editor/*.zip
QuestEditor/my*
QuestEditor/new_*

# Gtags
GPATH
GRTAGS
GSYMS
GTAGS


# local to Mac
.DS_Store
